.btnic-push {
  position: relative;
  top: 0;
  margin: 5px 12px 5px 0;
  padding: 10px 15px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  text-shadow: 0 1px 1px #555;
  vertical-align: middle;
  background-color: #2ca7cb;
  border: 1px solid #1d6f87;
  border-radius: 5px;
  outline: 0;
  box-shadow: 0 4px 0 #1d6f87;
  cursor: pointer;
  transition: all 0.1s linear;
}
.btnic-push:focus,
.btnic-push:hover {
  background-color: #50b6d4;
}
.btnic-push:active {
  top: 4px;
  background-color: #299cbd;
  box-shadow: 0 0 0 #1d6f87, inset 0 1px 5px #444;
}
.btnic-push.disabled {
  text-shadow: none;
  background: #56b9d5;
  border-color: #4a8c9f;
  -webkit-transition-duration: 0;
  transition-duration: 0;
}
.btnic-push.disabled {
  box-shadow: none;
  cursor: default;
}
.btnic-push.disabled:active {
  top: 0;
  box-shadow: none;
}
