.btn {
    outline: none;
    border-radius: 4px;
    border: 1px solid rgba(27, 31, 38, 0.16);
    font-family: inherit;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    appearance: none;
    user-select: none;
    text-decoration: none;
    text-align: center;
    padding: 5px 12px;
    font-size: 14px;
    color: rgba(36, 41, 48);
    background-color: rgb(246, 248, 250);
    box-shadow: 0 1px 0 rgba(103, 116, 131, 0.1), inset 0 1px 0 rgba(255,255,255, .25);
    margin: 4px;
    transition: all 240ms linear;
}
.btn:hover {
    background-color: rgb(243, 244, 246);
}
.btn:active {
    background-color: rgb(235, 236, 240);
}